body {
    background-image: url(Amitwa.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    color:rgb(226, 64, 43);
    font-family: cursive;
    font-size: 60px;
    border-radius: 10%;
    border-color: darkblue;
    
   }


p{
 color: rgb(5, 5, 78);
font-size: 50px;
position: fixed; left:80px; top:170px;
border: aqua;


}

 a{
color: rgb(15, 15, 15);
position: fixed; left:1100px; top:10px;
text-decoration: none;

 }


